# Python
__pycache__/
*.py[cod]
.pytest_cache/

# Virtual environments
venv/
.venv/

# Database
*.db

# Environment
.env
.env.*

# Node
node_modules/
dist/

# TypeScript
*.tsbuildinfo

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db